doctype html
html
    head
        title 
        meta(charset='UTF-8')
    body
        header
            nav
            a(href='/') 
            a(href='/') 
        block content
        footer
            p Suivez Moi