doctype html
html
    head
        title= pageTitle
        meta(charset='UTF-8')
    body
        header
            img(src='https://th.bing.com/th/id/OIP.Nz5UDK6LMSOs3voxTU4bQgAAAA?w=190&h=163&rs=1&pid=ImgDetMain', alt='logo')

            nav
            a(href='/') Home - 
            a(href='/login') Connexion - 
            a(href='/inscription') Inscription - 
        block content
        if isUserLoggedIn  
            // Utilisez la variable définie dans la session
            p Vous êtes connecté !
        else
            p Vous n'êtes pas connecté.
        footer
            p Suivez Moi

            img(src='https://th.bing.com/th/id/OIP.Nz5UDK6LMSOs3voxTU4bQgAAAA?w=190&h=163&rs=1&pid=ImgDetMain', alt='logo')

            p Contactez-moi
            p blabla@gmail.com
            p 07-07-07-07-07
