extends layout.pug

block content 
    h1= pageTitle
    form(action='/submit-login')
      label(for='login') Login (Email) :
      input(type='text', id='login', name='login', required)

      label(for='password') Password:
      input(type='password', id='password', name='password', required)

      button(type='submit') Submit