extends ./layout.pug

block content
  section(class="section_form")
    // Afficher le formulaire sinon
    h1= pageTitle
    if messageSuccess
      // Afficher le message si présent
      p= messageSuccess
      a(href='/') Revenir à Home <br>
      a(href='/login') Se connecter
    else

      form(action='/submit-register' class="formulaire")
        label(for='firstname' class='label') First name :
        input(type='text', id='firstname', name='firstname', required class="input")

        label(for='lastname' class='label') Last name:
        input(type='text', id='lastname', name='lastname', required class="input")

        label(for='pseudo' class='label') Pseudo:
        input(type='text', id='pseudo', name='pseudo', required class="input")

        label(for='email' class='label') Email :
        input(type='email', id='email', name='email', required class="input")

        label(for='password' class='label') Password:
        input(type='password', id='password', name='password', required class="input")

        label(for='confirmation' class='label') Confirmation password:
        input(type='password', id='confirmation', name='confirmation', required class="input")

        button(type='submit' class='button') Submit

          
    if messageNosuccess
      // Afficher le message si présent
      p= messageNosuccess